.card {
    border: none;
  }
  
  body {
    font-family:cursive; 
    background-size:auto;
    background-color: cyan;
  }
  .jumbotron {
    color: white;
    opacity: 0.9;
  }
  
  .customCard {
    opacity: 0.9;
  }
  
  h1 {
    text-shadow: 2px 2px black;
  }